In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sb
%matplotlib inline

In [4]:
data = pd.read_csv('../Data/clean/finalclean3.0.csv', encoding = 'latin-1', low_memory = False)
x = data.iloc[:,:10].values
y = data.iloc[:,10].values

data.head()

,JAARTAL,STRAATNAAM,POSTCODE_VAN,POSTCODE_TOT,PRODUCTSOORT,Aantal Aansluitingen,%Leveringsrichting,%Fysieke status,%Soort aansluiting,Soort aansluiting Naam,SJV,%SJV laag tarief,%Slimme Meter
0,2018,De Ruyterkade Steigers,1011AA,1011AB,0,35,10,3,31,3x25,14403,4,2
1,2018,De Ruyterkade,1011AC,1011AC,0,39,10,5,28,3x80,18739,5,2
2,2018,De Ruyterkade,1011AC,1011AC,1,24,10,7,38,G6,6589,0,2
3,2018,Oosterdokskade,1011AD,1011AD,0,19,10,0,58,3x25,4026,5,0
4,2018,Oosterdokskade,1011AD,1011AE,1,11,10,0,82,G4,710,0,0